.btn-xs {
    font-size: 14px;
    padding: 5px 15px;
}

.btn-operational {
    height: 40px;
}

.btn:focus {
    color: #fff;
}

.btn-orange {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #f5f1f6;
    -webkit-box-shadow: inset 0 1px #f5b086;
    -moz-box-shadow: inset 0 1px #f5b086;
    box-shadow: inset 0 1px #f5b086;
    border: solid 1px #c2471b;
    background-image: -webkit-linear-gradient(bottom, #da5c28, #ef823e);
    background-image: -moz-linear-gradient(bottom, #da5c28, #ef823e);
    background-image: -o-linear-gradient(bottom, #da5c28, #ef823e);
    background-image: linear-gradient(to top, #da5c28, #ef823e);
    text-shadow: 0 -1px #963;
}

.btn-orange-medium {
    font-size: 14px;
    color: #FFFFFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #f5f1f6;
    -webkit-box-shadow: inset 0 1px #f5b086;
    -moz-box-shadow: inset 0 1px #f5b086;
    box-shadow: inset 0 1px #f5b086;
    border: solid 1px #c2471b;
    background-image: -webkit-linear-gradient(bottom, #da5c28, #ef823e);
    background-image: -moz-linear-gradient(bottom, #da5c28, #ef823e);
    background-image: -o-linear-gradient(bottom, #da5c28, #ef823e);
    background-image: linear-gradient(to top, #da5c28, #ef823e);
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px #963;
}

.btn-orange-medium:hover {
        color: #FFFFFF;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #f5f1f6;
        -webkit-box-shadow: inset 0 1px #f5b086;
        -moz-box-shadow: inset 0 1px #f5b086;
        box-shadow: inset 0 1px #f5b086;
        border: solid 1px #c2471b;
        background-image: -webkit-linear-gradient(bottom, #c25123, #ef823e);
        background-image: -moz-linear-gradient(bottom, #c25123, #ef823e);
        background-image: -o-linear-gradient(bottom, #c25123, #ef823e);
        background-image: linear-gradient(to top, #c25123, #ef823e);
}

.btn-orange-medium:active {
        color: #FFFFFF;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #f5f1f6;
        -webkit-box-shadow: inset 0 1px #f5b086;
        -moz-box-shadow: inset 0 1px #f5b086;
        box-shadow: inset 0 1px #f5b086;
        border: solid 1px #c2471b;
        background-image: -webkit-linear-gradient(top, #da5c28, #ef823e);
        background-image: -moz-linear-gradient(top, #da5c28, #ef823e);
        background-image: -o-linear-gradient(top, #da5c28, #ef823e);
        background-image: linear-gradient(to bottom, #da5c28, #ef823e);
}

.btn-grey-medium {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #dcd8dd;
    -webkit-box-shadow: inset 0 1px #fff;
    -moz-box-shadow: inset 0 1px #fff;
    box-shadow: inset 0 1px #fff;
    border: solid 1px #ccc;
    background-image: -webkit-linear-gradient(bottom, #ccc, #eee);
    background-image: -moz-linear-gradient(bottom, #ccc, #eee);
    background-image: -o-linear-gradient(bottom, #ccc, #eee);
    background-image: linear-gradient(to top, #ccc, #eee);
    font-size: 14px;
    font-weight: bold;
    color: #666;
    text-shadow: 0 1px rgba(255,255,255,.6);
}

.btn-grey-medium:hover {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #e9ebec;
        -webkit-box-shadow: inset 0 1px #fff;
        -moz-box-shadow: inset 0 1px #fff;
        box-shadow: inset 0 1px #fff;
        border: solid 1px #ccc;
        background-image: -webkit-linear-gradient(bottom, #bcbcbc, #eee);
        background-image: -moz-linear-gradient(bottom, #bcbcbc, #eee);
        background-image: -o-linear-gradient(bottom, #bcbcbc, #eee);
        background-image: linear-gradient(to top, #bcbcbc, #eee);
        font-weight: bold;
        color: #666;
        text-shadow: 0 1px rgba(255,255,255,.6);
}

.btn-grey-medium:active {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #e9ebec;
        -webkit-box-shadow: inset 0 1px #fff;
        -moz-box-shadow: inset 0 1px #fff;
        box-shadow: inset 0 1px #fff;
        border: solid 1px #ccc;
        background-image: -webkit-linear-gradient(top, #ccc, #eee);
        background-image: -moz-linear-gradient(top, #ccc, #eee);
        background-image: -o-linear-gradient(top, #ccc, #eee);
        background-image: linear-gradient(to bottom, #ccc, #eee);
        color: #666;
        text-shadow: 0 1px rgba(255,255,255,.6);
}

.btn-grey {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #dcd8dd;
    -webkit-box-shadow: inset 0 1px #fff;
    -moz-box-shadow: inset 0 1px #fff;
    box-shadow: inset 0 1px #fff;
    border: solid 1px #ccc;
    background-image: -webkit-linear-gradient(bottom, #ccc, #eee);
    background-image: -moz-linear-gradient(bottom, #ccc, #eee);
    background-image: -o-linear-gradient(bottom, #ccc, #eee);
    background-image: linear-gradient(to top, #ccc, #eee);
    font-size: 18px;
    font-weight: bold;
    color: #666;
    text-shadow: 0 1px rgba(255,255,255,.6);
}

.btn-grey:hover {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #e9ebec;
        -webkit-box-shadow: inset 0 1px #fff;
        -moz-box-shadow: inset 0 1px #fff;
        box-shadow: inset 0 1px #fff;
        border: solid 1px #ccc;
        background-image: -webkit-linear-gradient(bottom, #bcbcbc, #eee);
        background-image: -moz-linear-gradient(bottom, #bcbcbc, #eee);
        background-image: -o-linear-gradient(bottom, #bcbcbc, #eee);
        background-image: linear-gradient(to top, #bcbcbc, #eee);
        font-size: 18px;
        font-weight: bold;
        color: #666;
        text-shadow: 0 1px rgba(255,255,255,.6);
}

.btn-grey:active {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #e9ebec;
        -webkit-box-shadow: inset 0 1px #fff;
        -moz-box-shadow: inset 0 1px #fff;
        box-shadow: inset 0 1px #fff;
        border: solid 1px #ccc;
        background-image: -webkit-linear-gradient(top, #ccc, #eee);
        background-image: -moz-linear-gradient(top, #ccc, #eee);
        background-image: -o-linear-gradient(top, #ccc, #eee);
        background-image: linear-gradient(to bottom, #ccc, #eee);
        color: #666;
        text-shadow: 0 1px rgba(255,255,255,.6);
}

.btn-purple, .btn-purple:visited {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 27px;
    color: #FFFFFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 30px;
    -webkit-box-shadow: inset 0 1px #a189b3;
    -moz-box-shadow: inset 0 1px #a189b3;
    box-shadow: inset 0 1px #a189b3;
    border: solid 1px #371f3f;
    background: #675377;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY3NTM3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNzFmM2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #675377 0%, #371f3f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#675377), color-stop(100%,#371f3f));
    background: -webkit-linear-gradient(top,  #675377 0%,#371f3f 100%);
    background: -o-linear-gradient(top,  #675377 0%,#371f3f 100%);
    background: -ms-linear-gradient(top,  #675377 0%,#371f3f 100%);
    background: linear-gradient(to bottom,  #675377 0%,#371f3f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#675377', endColorstr='#371f3f',GradientType=0 );
    text-shadow: 0 -1px #963;
}

.btn-purple:hover {
    color: #fff;
    background: #675377;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY3NTM3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNjBjMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #675377 0%, #160c19 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#675377), color-stop(100%,#160c19));
    background: -webkit-linear-gradient(top,  #675377 0%,#160c19 100%);
    background: -o-linear-gradient(top,  #675377 0%,#160c19 100%);
    background: -ms-linear-gradient(top,  #675377 0%,#160c19 100%);
    background: linear-gradient(to bottom,  #675377 0%,#160c19 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#675377', endColorstr='#160c19',GradientType=0 );
}

.btn-purple:active {
    color: #fff;
    background: #371f3f;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM3MWYzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NzUzNzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #371f3f 0%, #675377 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#371f3f), color-stop(100%,#675377));
    background: -webkit-linear-gradient(top,  #371f3f 0%,#675377 100%);
    background: -o-linear-gradient(top,  #371f3f 0%,#675377 100%);
    background: -ms-linear-gradient(top,  #371f3f 0%,#675377 100%);
    background: linear-gradient(to bottom,  #371f3f 0%,#675377 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#371f3f', endColorstr='#675377',GradientType=0 );
}

.btn-orange:hover,
.btn-orange.disabled,
.btn-orange[disabled] {
    color: #FFFFFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #f5f1f6;
    -webkit-box-shadow: inset 0 1px #f5b086;
    -moz-box-shadow: inset 0 1px #f5b086;
    box-shadow: inset 0 1px #f5b086;
    border: solid 1px #c2471b;
    background-image: -webkit-linear-gradient(bottom, #c25123, #ef823e);
    background-image: -moz-linear-gradient(bottom, #c25123, #ef823e);
    background-image: -o-linear-gradient(bottom, #c25123, #ef823e);
    background-image: linear-gradient(to top, #c25123, #ef823e);
}

.btn-orange:active,
{
    color: #FFFFFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #f5f1f6;
    -webkit-box-shadow: inset 0 1px #f5b086;
    -moz-box-shadow: inset 0 1px #f5b086;
    box-shadow: inset 0 1px #f5b086;
    border: solid 1px #c2471b;
    background-image: -webkit-linear-gradient(top, #da5c28, #ef823e);
    background-image: -moz-linear-gradient(top, #da5c28, #ef823e);
    background-image: -o-linear-gradient(top, #da5c28, #ef823e);
    background-image: linear-gradient(to bottom, #da5c28, #ef823e);
}

.btn-green-medium {
    font-size: 14px;
    color: #FFFFFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #dcd8dd;
    -webkit-box-shadow: inset 0 1px #98f698;
    -moz-box-shadow: inset 0 1px #98f698;
    box-shadow: inset 0 1px #98f698;
    border: solid 1px #2cb048;
    background-image: -webkit-linear-gradient(bottom, #30ab30, #6dd76d);
    background-image: -moz-linear-gradient(bottom, #30ab30, #6dd76d);
    background-image: -o-linear-gradient(bottom, #30ab30, #6dd76d);
    background-image: linear-gradient(to top, #30ab30, #6dd76d);
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px #2e872e;
}

.btn-green-medium:hover {
    font-size: 14px;
    color: #FFFFFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #dcd8dd;
    -webkit-box-shadow: inset 0 1px #98f698;
    -moz-box-shadow: inset 0 1px #98f698;
    box-shadow: inset 0 1px #98f698;
    border: solid 1px #2cb048;
    background-image: -webkit-linear-gradient(bottom, #299729, #6dd76d);
    background-image: -moz-linear-gradient(bottom, #299729, #6dd76d);
    background-image: -o-linear-gradient(bottom, #299729, #6dd76d);
    background-image: linear-gradient(to top, #299729, #6dd76d);
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px #2e872e;
}

.btn-green-medium:active {
    font-size: 14px;
    color: #FFFFFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #dcd8dd;
    -webkit-box-shadow: inset 0 1px #98f698;
    -moz-box-shadow: inset 0 1px #98f698;
    box-shadow: inset 0 1px #98f698;
    border: solid 1px #2cb048;
    background-image: -webkit-linear-gradient(top, #30ab30, #6dd76d);
    background-image: -moz-linear-gradient(top, #30ab30, #6dd76d);
    background-image: -o-linear-gradient(top, #30ab30, #6dd76d);
    background-image: linear-gradient(to bottom, #30ab30, #6dd76d);
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px #2e872e;
    outline: none;
}

.btn:focus{
    outline: 0;
}

.btn .btn-grey-medium,
.btn-grey:focus {
    outline: 0;
    color: #666;
}

.btn .btn-orange-medium,
.btn .btn-orange,
.btn .btn-green-medium,
.btn .btn-green:focus {
    outline: 0;
    color: #fff;
}

/******/

.btn-rect {
    height: 30px;
    width: 34px;
    padding: 0px;
    font-size: 21px;
    color: #999;
}

.btn-rect:hover {
    height: 30px;
    width: 34px;
    padding: 0px;
    font-size: 21px;
    color: #333;
}

.btn-rect:active {
    height: 30px;
    width: 34px;
    padding: 0px;
    font-size: 21px;
    color: #fff;
    -webkit-box-shadow: 0 -1px #963;
    -moz-box-shadow: 0 -1px #963;
    box-shadow: 0 -1px #963;
}

.btn-rect-small{
    height: 22px;
    width: 29px;
    padding: 0px;
    font-size: 13px;
    color: #999;
}
.btn-rect-small:hover{
    height: 22px;
    width: 29px;
    padding: 0px;
    font-size: 13px;
    color: #333;;
}
.btn-rect-small:active {
    height: 22px;
    width: 29px;
    padding: 0px;
    font-size: 13px;
    color: #fff;
    -webkit-box-shadow: 0 -1px #963;
    -moz-box-shadow: 0 -1px #963;
    box-shadow: 0 -1px #963;
}

.btn-plus {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #f7f8f9;
    -webkit-box-shadow: inset 1px 1px #fff;
    -moz-box-shadow: inset 1px 1px #fff;
    box-shadow: inset 1px 1px #fff;
    border: solid 1px #dcd4de;
    font-weight: bold;
}

.btn-plus:hover {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #f7f8f9;
    -webkit-box-shadow: inset 1px 1px #fff;
    -moz-box-shadow: inset 1px 1px #fff;
    box-shadow: inset 1px 1px #fff;
    border: solid 1px #dcd4de;
    font-weight: bold;
}

.btn-plus:active {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #f7f8f9;
    -webkit-box-shadow: inset 0 1px #f5b086;
    -moz-box-shadow: inset 0 1px #f5b086;
    box-shadow: inset 0 1px #f5b086;
    border: solid 1px #c2471b;
    background-image: -webkit-linear-gradient(top, #da5c28, #ef823e);
    background-image: -moz-linear-gradient(top, #da5c28, #ef823e);
    background-image: -o-linear-gradient(top, #da5c28, #ef823e);
    background-image: linear-gradient(to bottom, #da5c28, #ef823e);
    font-weight: bold;
    outline: none;
}

.btn-refresh {
    font-size: 18px;
    width: 30px;
    height: 23px;
    padding: 0px;
}

.btn-toolbar {
    padding-top: -10px;
}


