.row-calendar {
    height: 40px;
}

/*apply style only for td-cal-right*/
.table > tbody > tr > td[class~=col-subject] {
    padding: 0px;
}

.table > tbody > tr > td[class~=col-hour] {
    vertical-align: middle;
}

.table-hover > tbody > tr:hover > td[class~=col-hour], .table-hover > tbody > tr:hover > th[class~=col-hour] {
    background-color: #FFFFFF;
}
.col-subject {
    
}
.col-hour {
    
}

.alert-calendar {
    /* border: 1px solid rgba(0, 0, 0, 0);
     border-radius: 4px 4px 4px 4px;*/
    color: #666;
}

.calendar-accepted {
    background-color: #caefb6;
}

.calendar-proposed {
    background-color: #f9f8ac;
}

.calendar-proposed {
    background-color: #ebecfe;
}
.time-calendar{
    vertical-align: middle;
}

