.calendar-background {
    background-color: #f7f8f9;
}

.row-calendar {
    height: 40px;
}

.split-calendar {
    height: 20px;
}

.calendar-button-margin {
    margin-top: 15px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #fcfbfb;
}

/*apply style only for td-cal-right*/
.table > tbody > tr > td[class~=col-subject] {
    padding: 0px;
    border-left: 1px solid #E9E9E9;
    border-top: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    color: #999999;
    font-size: 13px;

}

.table > tbody > tr > td[class~=col-hour] {
    vertical-align: middle;
    text-align: right;
    border: none;
    color: #999999;
    font-size: 13px;
}

.table-hover > tbody > tr:hover > td[class~=col-hour], .table-hover > tbody > tr:hover > th[class~=col-hour] {
    background-color: transparent;
    border: 0;
}

.calendar-row:hover {
    background-color: #fcfbfb;
}

.calendar-row, .calendar-row-bottom {
    height: 40px;
    border-style: solid;
    border-color: #E9E9E9;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 0px;
}

.calendar-row-bottom {
    border-bottom-width: 1px;
}

.col-subject {

}

.col-hour {
    vertical-align: middle;
    text-align: right;
    border: none;
    color: #999999;
    height: 40px;
    font-size: 13px;
}

.alert-calendar {
    /* border: 1px solid rgba(0, 0, 0, 0);
     border-radius: 4px 4px 4px 4px;*/
    color: #666;
    padding: 4px 0 0 4px;
}

.calendar-accepted {
    background-color: #caefb6;
}

.calendar-proposed {
    background-color: #f9f8ac;
}

.calendar-now {
    background-color: #ebecfe;
}

.time-calendar {
    vertical-align: middle;
}

table th, .table td {
    border-top: none;
}

.icon-calendar {
    float: right;
    color: #999;
    right: 4px;
}

.row-calendar .glyphicon {
    color: #999999;
}

.border-dotted {
    border-bottom: 1px dotted #E9E9E9;
    height: 20px;
}
.padding-time{
    padding-top: 10px;
    padding-right: 12px;
}