@import url("buttons.css");
@import url("topology.css");
@import url("dropdown.css");
@import url("input.css");
@import url("validation.css");
@import url("alert.css");
@import url("navbar.css");
@import url("calendar.css");
@import url('http://www.urimalo.com/assets/admin/plugins/bootstrap-datepicker/css/datepicker.css');

html, body {
    height: 100%;
    width: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.content-narrow {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -160px;
}

.content-wide {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -80px;
}

/* Set the fixed height of the footer here */
#push,
.footer {
    height: 80px;
    background-color: #fdfdfd;
}

/* Lastly, apply responsive CSS fixes as necessary */
/*@media (max-width: 767px) {
    .footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}*/

.footer-height {
    height: 80px;
}

.shadow-box-top {
    -webkit-box-shadow: 0 -1px #dfd8e3;
    -moz-box-shadow: 0 -1px #dfd8e3;
    box-shadow: 0 -1px #dfd8e3;
}

.footer-height {
    height: 80px;
    padding-top: 20px;
}

.header-offset {
    padding-top: 72px;
    padding-bottom: 0px;
}

.footer-offset {
    padding-top: 0px;
    padding-bottom: 165px;
}

.footer-offset-wide {
    padding-top: 0px;
    padding-bottom: 90px;
    padding-top: 72px;
}

a {
    color: #777777;
}

.info-label {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 4px 4px;
    background: #F3EFF5;
    color: #656565;
}

.info-label p {
    padding-top: 10px;
    padding-left: 10px;
}

.header-background {
    background: #fdfdfd;
}

.step-registration {
    float: left;
}

.step-registration.step1 {
    margin-left: 42px;
}

.step-registration.step2 {
    margin-left: 30px;
}

a :focus, a:hover {
    text-decoration: none;
}

.form-horizontal .form-group {
    margin-bottom: 10px;
}

label, input, button, select, textarea {
    font-size: 13px;
}

.shadow-box {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .03), inset 0 -1px #dfd8e3;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .03), inset 0 -1px #dfd8e3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .03), inset 0 -1px #dfd8e3;
}

.shadow-box-top {
    -webkit-box-shadow: 0 -1px #dfd8e3;
    -moz-box-shadow: 0 -1px #dfd8e3;
    box-shadow: 0 -1px #dfd8e3;
}

#notificationMessage .info-label {
    height: 74px;
}

.footer {
    height: 80px;
}

.form-horizontal label {
    font-weight: normal;
}

.form-control {
    font-size: 13px;
}

.navbar-text {
    margin-top: 6px;
}

#ddSpeciality {
    left: 5px;
}

.footer ul a {
    font-size: 11px;
    color: #f17d2d;
}

.footer ul {
    font-size: 11px;
    color: #666;
}

.footer .list-inline {
    padding-top: 35px;
}

.signed-in-user {
    padding-top: 19px;
    /*error in guide lines*/
    padding-bottom: 13px;
}

.signed-in-user-photo {
    width: 40px;
    height: 40px;
}

/*.navbar-nav > li > a {
    padding-bottom: 0px;
}*/

.signed-in-username {
    margin-left: 12px;
    display: inline;
    color: #f17d2d;
    /*todo incorrect font size*/
    font-size: 14px;
}

.user-photo {
    width: 50px;
    height: 50px;
}

.user-photo-big {
    width: 100px;
    height: 100px;
}

/*.user-photo-container-alert {
    margin-right: 15px;
}*/

.user-photo-container {
    margin-right: 15px;
    margin-left: 15px;
}

.glyphicon {
    top: 0px;
}

.input-small {
    max-width: 60px;
}

.input-medium {
    max-width: 80px;
}

#notificationTextArea {
    height: 50px;
    margin-top: 10px;
}

.appointment-description {
    margin-top: 14px;
}

.appointment-details {
    margin-top: 22px;
}

.appointment-content {
    border: 1px solid #F7F7F9;
    /*height: 80px;*/
    padding: 15px;
    margin-top: 6px;
}

.image-triangle {
    background-image: url("../img/triangle.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 64px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-color: #dfd8e3 #dfd8e3 rgba(0, 0, 0, 0);
}

.triangle {
    clear: both;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 48px;
    width: 72px;
    z-index: 1026;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #f7f8f9;
    -webkit-box-shadow: inset 1px 2px #fff;
    -moz-box-shadow: inset 1px 2px #fff;
    box-shadow: inset 1px 1px #fff;
    border: solid 1px #dcd4de;
}

input[type=radio] {
    display: none;
}

input[type=radio] + label {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, .1);
    border: solid 1px #dcd4de;
}

.row-form {
    margin-top: 5px;
}

.main-logo {
    height: 110px;
}

.profile-tabs {
    padding-top: 20px;
}

.profile-name {
    padding-top: 33px;
}

.profile-inputs {
    padding-top: 12px;
    height: 513px;
}

.profile-slide {
    background-color: #F7F7F9;
    padding-top: 20px;
    min-height: 593px;
}

#profilePanel {
    -webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, .05), inset 0 -1px #dfd8e3;
    -moz-box-shadow: -2px 2px 2px rgba(0, 0, 0, .05), inset 0 -1px #dfd8e3;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, .05), inset 0 -1px #dfd8e3;
}
.profile-body{
    height: 513px;
}

input .check{
    background: #888 !important;
    border: none !important;
    color: #000 !important;
}