@import url("buttons.css");
@import url("topology.css");
@import url("dropdown.css");
@import url("input.css");
@import url("validation.css");
@import url("alert.css");
@import url("navbar.css");
@import url("calendar.css");
@import url('http://www.urimalo.com/assets/admin/plugins/bootstrap-datepicker/css/datepicker.css');

html, body {
    height: 100%;
    width: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.content-narrow {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -160px;
}

.content-wide {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -80px;
}

/* Set the fixed height of the footer here */
#push,
.footer {
    height: 80px;
    background-color: #fdfdfd;
}

/* Lastly, apply responsive CSS fixes as necessary */
/*@media (max-width: 767px) {
    .footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}*/

.footer-height {
    height: 80px;
}

.shadow-box-top {
    -webkit-box-shadow: 0 -1px #dfd8e3;
    -moz-box-shadow: 0 -1px #dfd8e3;
    box-shadow: 0 -1px #dfd8e3;
}

.footer-height {
    height: 80px;
    padding-top: 20px;
}

.header-offset {
    padding-top: 72px;
    padding-bottom: 0px;
}

.footer-offset {
    padding-top: 0px;
    padding-bottom: 165px;
}

.footer-offset-wide {
    padding-top: 0px;
    padding-bottom: 90px;
    padding-top: 72px;
}

a {
    color: #777777;
}

.info-label {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 4px 4px;
    background: #F3EFF5;
    color: #656565;
}

.info-label p {
    padding-top: 10px;
    padding-left: 10px;
}

.header-background {
    background: #fdfdfd;
}

.step-registration {
    float: left;
}

.step-registration.step1 {
    margin-left: 42px;
}

.step-registration.step2 {
    margin-left: 30px;
}

a :focus, a:hover {
    text-decoration: none;
}

.form-horizontal .form-group {
    margin-bottom: 10px;
}

label, input, button, select, textarea {
    font-size: 13px;
}

.shadow-box {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .03), inset 0 -1px #dfd8e3;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .03), inset 0 -1px #dfd8e3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .03), inset 0 -1px #dfd8e3;
}

.shadow-box-top {
    -webkit-box-shadow: 0 -1px #dfd8e3;
    -moz-box-shadow: 0 -1px #dfd8e3;
    box-shadow: 0 -1px #dfd8e3;
}

#notificationMessage .info-label {
    height: 74px;
}

.footer {
    height: 80px;
}

.form-horizontal label {
    font-weight: normal;
}

.form-control {
    font-size: 13px;
}

.navbar-text {
    margin-top: 6px;
}

#ddSpeciality {
    left: 5px;
}

.footer ul a {
    font-size: 11px;
    color: #f17d2d;
}

.footer ul {
    font-size: 11px;
    color: #666;
}

.footer .list-inline {
    padding-top: 35px;
}

.signed-in-user {
    padding-top: 19px;
    /*error in guide lines*/
    padding-bottom: 13px;
}

.signed-in-user-photo {
    width: 40px;
    height: 40px;
}

/*.navbar-nav > li > a {
    padding-bottom: 0px;
}*/

.signed-in-username {
    margin-left: 12px;
    display: inline;
    color: #f17d2d;
    /*todo incorrect font size*/
    font-size: 14px;
}

.user-photo {
    width: 50px;
    height: 50px;
}

.user-photo-big {
    width: 100px;
    height: 100px;
}

/*.user-photo-container-alert {
    margin-right: 15px;
}*/

.user-photo-container {
    margin-right: 15px;
    margin-left: 15px;
}

.glyphicon {
    top: 0px;
}

.input-small {
    max-width: 60px;
}

.input-medium {
    max-width: 80px;
}

#notificationTextArea {
    height: 50px;
    margin-top: 10px;
}

.appointment-description {
    margin-top: 14px;
}

.appointment-details {
    margin-top: 22px;
}

.appointment-content {
    border: 1px solid #F7F7F9;
    /*height: 80px;*/
    padding: 15px;
    margin-top: 6px;
}

.image-triangle {
    background-image: url("../img/triangle.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 22px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-color: #dfd8e3 #dfd8e3 rgba(0, 0, 0, 0);
}

.triangle {
    clear: both;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 70px;
    width: 72px;
    z-index: 1026;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #f7f8f9;
    -webkit-box-shadow: inset 1px 2px #fff;
    -moz-box-shadow: inset 1px 2px #fff;
    box-shadow: inset 1px 1px #fff;
    border: solid 1px #dcd4de;
}

input[type=radio] {
    display: none;
}

input[type=radio] + label {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, .1);
    border: solid 1px #dcd4de;
}

.row-form {
    margin-top: 5px;
}

.main-logo {
    height: 110px;
}

.profile-tabs {
    padding-top: 20px;
}

.profile-name {
    padding-top: 33px;
}

.profile-inputs {
    padding-top: 12px;
    height: 513px;
}

.profile-slide {
    background-color: #F7F7F9;
    padding-top: 20px;
    min-height: 593px;
}

#profilePanel {
    -webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, .05), inset 0 -1px #dfd8e3;
    -moz-box-shadow: -2px 2px 2px rgba(0, 0, 0, .05), inset 0 -1px #dfd8e3;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, .05), inset 0 -1px #dfd8e3;
}

.profile-body {
    height: 513px;
}

input .check {
    background: #888 !important;
    border: none !important;
    color: #000 !important;
}

.tabs-button-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-position {
    z-index: 1000;
    position: relative;
}

.hide-panel {
    padding-top: 10px;
}

.hide-panel .close {
    padding-left: 5px;
}

.appointment-content .glyphicon-star {
    color: #F17D2D;
}
.appointment-content .glyphicon-star-empty {
    color: #CBCBCB;
}
.appointment-content .glyphicon-comment {
    color: #CBCBCB;
}

/**/

.section-providers {
    background: #f5f1f6;
    padding: 0 18px 15px;
    border-radius: 4px;

    color: #999;
}
    .secret-code {
        width: 266px;
    }

.banner-main {
    padding-bottom: 20px;

    clear: both;
    background: url("../img/map.jpg");
}

.banner-menu {
    position: relative;
    width: 578px;

    list-style: none;
    margin: 50px auto 42px;
    padding: 0;

    -moz-box-shadow: 0 0 4px #999;
    -webkit-box-shadow: 0 0 4px #999;
    box-shadow: 0 0 4px #999;
}
    .banner-btn, .banner-btn:visited {
        position: relative;
        display: block;
        background: #fff;
        padding: 13px;

        list-style: none;
        margin: 0 auto;
        border-bottom: 1px solid #dfd8e3;

        text-decoration: none !important;
        font-size: 24px;
        color: #999;
    }
    .banner-btn:hover, .open>.banner-btn:link {
        color: #f17d2d;
        text-decoration: none;
    }
    .banner-btn:visited span.banner-btn-text {
        text-decoration: none;
    }

.icon-banner-left {
    font-size: 19px;

    position: absolute;
    top: 40%;
    left: 4%;
}
.icon-banner-right {
    font-size: 19px;

    position: absolute;
    top: 40%;
    right: 3%;
}

.banner-btn-text {
    margin-left: 54px;
}

.banner-text-small {
    font-size: 18px;
}

.btn-action {
    border: 1px solid #c2471b;
    color: #fff;

    text-shadow: 0px -1px 1px #803413;

    background: #ef813e;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmODEzZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYTVkMjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ef813e 0%, #da5d28 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef813e), color-stop(100%,#da5d28));
    background: -webkit-linear-gradient(top,  #ef813e 0%,#da5d28 100%);
    background: -o-linear-gradient(top,  #ef813e 0%,#da5d28 100%);
    background: -ms-linear-gradient(top,  #ef813e 0%,#da5d28 100%);
    background: linear-gradient(to bottom,  #ef813e 0%,#da5d28 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef813e', endColorstr='#da5d28',GradientType=0 );
}

.btn-find-doctor {
    display: block;
    margin: 20px auto;
    padding: 10px 30px;

    border-radius: 40px;
    font-size: 36px;
    font-weight: bold;
}

.btn-go {
    border-radius: 3px;
    padding: 1px 15px;
    font-size: 18px;

    font-weight: bold;
}

.btn-signin {
    font-size: 14px;
    vertical-align: middle;
    padding: 5px 15px;
    border-radius: 3px;
    font-weight: bold;
}

.below-header {
    padding: 10px 55px;
}

.banner-dropdown {
    width: 100%;
    border-bottom: 2px solid #666;
    margin-top: -1px;
    position: relative;
}
    .banner-dropdown>li>a {
        padding: 10px 20px;
    }

.alert-header-signin {
    display: none;

    clear: both;
    margin-left: 290px;
    max-width: 322px;
    border: 1px solid rgba(200, 0, 0, .5);
    border-radius: 4px 4px 4px 4px;
    padding: 15px 35px 15px 15px;
}

.alert-secret-code {
    display: none;

    max-width: 266px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid rgba(200, 0, 0, .5);
    border-radius: 4px 4px 4px 4px;
    padding: 15px 35px 15px 15px;
}

.input-header {
    display: inline-block;
    width: 110px;
}

.signin {
    display: none;
    margin-top: 19px;
}